body { 
    font-size: 100%;
    font-family: "Times New Roman", Times, serif;
    background-color:#9f8b8b;
    color: black;
     }

ul {
list-style-type: none;
margin: 0;
padding: 0;
text-align:center;
   }

h1 { 
       text-align:center;
       text-shadow: 2px 2px 5px #692346;
     }

.text {
    text-align: center;
    padding: 4px;
}

 li {
font-size: 20px;  
font-weight: bold; 
background-color: #75264ed0 ;
display: inline;
border: solid 3px  white;
border-radius: 4px;
margin:5px;
padding: 3px;
} 

a.one:link {color:white}
a.one:visited {color:gray}
a.one:hover {font-size:110%}

a.two:link {color:black}
a.two:visited {color:#36041dd0}
a.two:hover {font-size:120%}

table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin: 15px 4px;
  }
  
  th {
    height: 70px;
  }
  td {
      text-align: center;
      font-weight: bold;
  }
  form {
      margin-top:40px;
      margin-left:540px;  
    }
